.black{
  background-image: url('./Assets/darknoise.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-div{
  background-image: url(./Assets/Rectangle6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  width:100%;
  height:100%;
}